<section class="banner-with-header grid-center padded" style="background-image:url('{{block.banner-pic}}')">
  <header class="absolute-header grid">
    <div class="col-4-middle">
      <a href="/">
        <h2 class="logo"> {{block.logo}} </h2>
      </a>
    </div>
    <nav class="col-8-middle right">
{% for link in block.links %}
  <a href="{{link.text}}" class="{{link.classes}}">{{link.text}}</a>
  {% endfor %}
    </nav>
  </header>
  <div class="col-6_sm-12-middle centered">
    {{block.text}}
  </div>
</section>
