
<section class="padded centered">

{{block.text}}

    <div class="grid-center padded-1">
      {% for pic in block.pics %}
      <div class="col-2_sm-4_xs-6">
        <img src="/images/logo.webp">
      </div>
      {% endfor %}


      <div class="col-2_sm-4_xs-6">
        <img src="/images/logo.webp">
      </div>
      <div class="col-2_sm-4_xs-6">
        <img src="/images/logo.webp">
      </div>
      <div class="col-2_sm-4_xs-6">
        <img src="/images/logo.webp">
      </div>
      <div class="col-2_sm-4_xs-6">
        <img src="/images/logo.webp">
      </div>
    </div>
