<section class="light-bg centered padded">
  <h2> {{block.title}} </h2>
  <div class="grid padded-1">

        {% for col in blocks.col %}
    <div class="col-4_sm-12 padded-1">
      <div class="pricing card">
        <p class="pricing-name"> {{col.name}} </p>
        <p class="price"> $18 </p>
        <ul class="no-bullets">
          {% for bullet in col.bullet %}
          <li> {{bullet}} </li>
          {% endfor %}
        </ul>
        <a href="{{col.button-link}}" class="button">{{col.button-text}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
